rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Pravila za kolekciju slika
    match /images/{imageId} {
      allow read: if true;
      allow create: if request.auth != null 
        && request.resource.data.size < 1048576  // 1MB max
        && request.resource.data.type.matches('image/.*')  // Samo slike
        && request.resource.data.uploadedBy == request.auth.token.email;  // Mora se poklapati email
      allow update, delete: if false;  // Ne dozvoljavamo izmjene ni brisanje
    }
    
    // Pravila za ostale kolekcije
    match /{collection}/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}